DATABASE_URL="mysql://user:pwd@host:port/db_name"
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME="db_name"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:4321" # Base URL of your app

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""