---
import { GET } from "./api/inbox/list";

const res = await GET(Astro);
const inboxes = await res.json();
---

<div>My inboxes</div>
{inboxes.map((i) => <div>{i.id}</div>)}
<div>--------------------</div>
<form id="form-inbox-post">
  <input type="text" name="name" />
  <input type="datetime-local" name="lockedUntil" />
  <input type="submit" value="Create inbox" />
</form>

<script>
  document
    .getElementById("form-inbox-post")
    ?.addEventListener("submit", (ev) => {
      ev.preventDefault();

      const formData = ev.target.elements;
      const body = {
        name: formData["name"].value,
        lockedUntil: new Date(formData["lockedUntil"].value).toISOString(),
      };

      fetch("/api/inbox", { method: "POST", body: JSON.stringify(body) });
    });
</script>
