---
import NavBar from "@/components/NavBar.astro";
import "../styles/global.css";

interface Props {
  navBar?: boolean;
}

const { navBar = true } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="bg-linear-to-br from-blue-50 via-cyan-50 to-blue-100 min-h-screen"
  >
    {
      navBar ? (
        <header>
          <NavBar />
        </header>
      ) : null
    }
    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
